<% if items %>
  <ul class="list-group">
    <% items.each do |item| %>
      <li class="list-group-item">
        <a href="<%= create_detail_url.call(item) %>">
          <span class="list-group-item-heading h3"><%= item.title %></span>
        </a>
        <div class="btn-group pull-right" role="group">
          <%= link_to(
                "Show",
                create_show_url.call(item),
                class: "btn btn-default",
                target: "_blank",
                role: "button") %>
          <%= link_to(
                "Delete",
                create_delete_url.call(item),
                class: "btn btn-danger",
                role: "button",
                method: :delete) %>
        </div>
        <% if defined? item.description %>
          <p class="list-group-item-text"><%= item.description %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
