<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @show_navbar %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand">Let's Rails</span>
        </div>

        <ul class="nav navbar-nav">
          <li><%= link_to "Front", root_path, :class => "navbar-link" %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="navbar-text"><%= current_user.email %></li>
            <li><%= link_to "Manage Blogs", blogs_path, :class => "navbar-link" %></li>
            <li><%= link_to "User Settings", edit_user_registration_path, :class => "navbar-link" %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "navbar-link" %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Sign in", new_user_session_path, :class => 'navbar-link' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <% end %>

    <% flash.each do |key, value| %>
      <% alert_type = key %>
      <%# for devise %>
      <% alert_type = 'danger'  if alert_type == 'alert' %>
      <% alert_type = 'success' if alert_type == 'notice' %>

      <%= content_tag(:div, value, :class => "alert alert-#{alert_type}", :role => "alert") %>
    <% end %>

    <% if @validation_errors %>
      <% @validation_errors.full_messages.each do |msg| %>
        <%= content_tag(:div, msg, :class => "alert alert-danger", :role => "alert") %>
      <% end %>
    <% end %>

    <div class="body-content <%= controller.controller_name %>">
      <%= breadcrumbs separator: " > " %>
      <%= yield %>
    </div>
  </body>
</html>
